body {
    background: #504a4b;
    width: 60vw;
    margin: 0 20vw;
    text-align: center;
    padding: 1em 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Staatliches', cursive;
}

.titulo {
    color: #FFFFFF;
    font-size: 2em;
    margin: 0 0 2em;
    }

.area-resposta {
    background: #009AFE;
    width: 80%;
    display: inline-block;
    border-radius: 8px;
    padding: 0.5em 0;
    color: #FFFFFF;
    margin: 1em 0;
    display: none;
    font-size: 2em;
}


.chutes-registrados {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chutes-registrados li {
    display: flex;
    gap: 0.3em;
    justify-content: center;
    margin-bottom: 0.3em;
    font-size:1.5em;
}

.chutes-registrados span {
    font-size:1.5em;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #282324;
    color: #FFFFFF;
    border-radius: 6px;
    line-height: 30px;
}

.chutes-registrados .letra-certa {
    width: 1.5em;
    background: #279788;
    font-size:1.5em;
    height: 1.5em;
}

.chutes-registrados .letra-existe {
    width: 1.5em;
    height: 1.5em;
    background: #CF9F62;
    font-size:1.5em;
}

.tentativas{
    font-size: 1.5em;
    color: aliceblue;
}

